.albums {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 5rem 3rem;
  padding: 3rem 2rem;
  clear: both;
}

.album {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.album h1 {
  text-shadow: 0px 2px 2px rgba(66, 68, 90, 1);
  word-break: break-all;
}

.albumName {
  padding-inline: 0.5rem 1.5rem;
  padding-block: 1.5rem;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

.albumArtist {
  position: absolute;
  right: 0;
  background: white;
  text-transform: uppercase;
  width: 1em;
}

.albumArtist h1 {
  font-size: 20px;
  word-break: break-all;
  line-height: 1;
  text-align: center;
}

.albumImage {
  margin-top: auto;
}

.albumImage img {
  width: 100%;
  object-fit: cover;
}

.score,
.welcome {
  padding: 1rem 2rem;
  font-size: 2rem;
  float: left;
}

.welcome h1 {
  font-size: 4rem;
}
